body {
    margin: 0px ;
    text-align: center ;
    font-family: fantasy ;
    /* font-family: "Helvetica Neue", Arial, Helvetica, sans-serif ; */
}

h1 {
    margin-top: 0px ;
    color: white ;
}

h2 {
    color: white ;
}

h3 {
    color: white ;
}

p {
    color: white ;
}

.top-container {
    background-color: #7b113a ;
    position: relative ;
    padding-top: 100px ;
}

.middle-container {
    background-color: #150e56 ;
    /* height: 200px ;
    width: 200px ; */
}

.bottom-container {
    background-color: #1597bb ;
    padding-top: 25px ;
}

/* .pro {
    text-decoration: underline ;
} */

.top-cloud {
    position: absolute ;
    right: 300px ;
    top: 50px ;
}

.bottom-cloud {
    position: absolute ;
    left: 400px ;
    bottom: 300px ;
}

.balloon-teal {
    position: absolute ;
    left: 200px ;
    width: 150px 
}

.balloon-blue {
    width: 150px ;
    position: absolute ;
    right: 200px ;
}

.mountain {
    margin: 0px ;
}

.computer {
    width: 150px ;
    border-radius: 100% ;
}

.data {
    width: 150px ;
}

.contact-me {
    padding-bottom: 25px ;
}

